<!DOCTYPE html>
<html lang="en" onclick="jump()">
    <head>
        <meta charset="utf-8">
        <title>Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/game_style.css">
    </head>
    <body>
        <div id="game">
            <div id="character"></div>
            <div id="block"></div>
        </div>
        <button id="resetButton" style="display: none;">Reset Game</button>
    </body>
    <script src="../scripts/game.js"></script>
</html>