<!DOCTYPE html>
<html lang="en" onkeydown="handleKeyDown(event)">
    <head>
        <meta charset="utf-8">
        <title>Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../assets/panda.png">
        <link rel="stylesheet" href="../styles/game_style.css">
    </head>
    <header>
        <nav>
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="about_me.html">About</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="game.html">Game</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="container">
            <div id="score">Score: 0</div>
            <div id="game">
                <div id="character"></div>
                <div id="block"></div>
            </div>
            <button id="resetButton">Start Game</button>
        </div>
    </body>
    <script src="../scripts/game.js"></script>
</html>