<!DOCTYPE html>
<html>
  <head>
    <title>My Personal Website</title>
    <link rel="icon" href="../assets/panda.png">
    <link rel="stylesheet" href="../styles/home_style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about_me.html">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="game.html">Game</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">
        <h1>Welcome to the World of Chia</h1>
        <p>Explore my breathtaking work and dynamic personality.</p>
        <a href="#" class="btn">View Portfolio</a>
        <div class="bubble">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="bubble small">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </section>
      <section id="about">
        <h2>About Me</h2>
        <p>I have very few friends, and therefore built this website to keep my mind off the soul destroying loneliness that usually fills my mind. It didn't work.</p>
        <a href="about_me.html" class="btn">Learn More</a>
      </section>
      <section id="portfolio">
        <h2>Portfolio</h2>
        <ul>
          <li>
            <a href="#">
              <img src="project1.jpg" alt="Project 1">
              <h3>Project 1</h3>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="project2.jpg" alt="Project 2">
              <h3>Project 2</h3>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="project3.jpg" alt="Project 3">
              <h3>Project 3</h3>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 My Personal Website</p>
    </footer>
    <script src="../scripts/home.js"></script>
  </body>
</html>