<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XP8J14GBZS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XP8J14GBZS');
    </script>
    <title>My Personal Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/panda.png">
    <link rel="stylesheet" href="../styles/home_style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about_me.html">About</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="game.html">Game</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">
        <h1>Welcome to the World of Chia</h1>
        <p>Explore my breathtaking work and dynamic personality.</p>
        <a href="portfolio.html" class="btn">View Portfolio</a>
        <div class="bubble">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="bubble small">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </section>
      <section id="about">
        <h2>About Me</h2>
        <p>I have very few friends, and therefore built this website to keep my mind off the soul destroying loneliness that usually fills my mind. It didn't work.</p>
        <a href="about_me.html" class="btn">Learn More</a>
      </section>
      <section id="portfolio">
        <h2>Portfolio</h2>
        <ul>
          <li>
            <a href="portfolio.html#sunderland_section">
              <img src="../assets/sunderland_logo.png" alt="Project 1">
              <h3>Football Analytics</h3>
            </a>
          </li>
          <li>
            <a href="portfolio.html#motherbird">
              <img src="../assets/MotherBird_icon.png" alt="Project 2">
              <h3>MotherBird App</h3>
            </a>
          </li>
          <li>
            <a href="portfolio.html#moron">
              <img src="../assets/me_tea.JPG" alt="Project 3">
              <h3>"Handsome Boy"</h3>
              <h3 id="quote-reference">- my mother</h3>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 My Personal Website</p>
    </footer>
    <script src="../scripts/home.js"></script>
  </body>
</html>