<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link rel="icon" href="../assets/panda.png">
  <link rel="stylesheet" href="../styles/portfolio_style.css">
</head>
<body>
	<header>
		<nav>
			<ul>
			<li><a href="home.html">Home</a></li>
			<li><a href="about_me.html">About</a></li>
			<li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="game.html">Game</a></li>
			</ul>
		</nav>
	</header>
    <main>
        <div class="portfolio-holder">
            <div class="horizontal-rectangle"></div>
            <div class="vertical-rectangle" id="sunderland">
                <img src="../assets/sunderland_playoff_trophy.jpg" alt="Sunderland Image">
            </div>
        </div>
        <div class="portfolio-holder">
            <div class="vertical-rectangle" id="motherbird">
                <img class="mb_icon" src="../assets/MotherBird_icon.png" alt="MotherBird Icon">
                <img class="mb_home" src="../assets/MotherBird_screenshot.png" alt="MotherBird Image">
            </div>
            <div class="horizontal-rectangle"></div>
        </div>
        <div class="portfolio-holder">
            <div class="horizontal-rectangle"></div>
            <div class="vertical-rectangle" id="me_image">
                <img src="../assets/me_doughnuts.JPG" alt="Me Image">
            </div>
        </div>
</html>