* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid transparent; /* Add this line */
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-content {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.main-content .intro p {
    font-size: 22px;
    color: #666;
    margin-bottom: 10px;
    font-weight: normal;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.article-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.article-card:hover {
    transform: translateY(-5px);
}

.article-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.article-link {
    display: block;
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
}

.article-excerpt {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
}

.read-more {
    font-size: 15px;
    text-decoration: none;
    color: #0071e3;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.footer {
    color: #000;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}